body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

header {
    background: black;
    padding: 1rem;
    text-align: center;
}

.view {
    display: none;
    padding: 1rem;
}

    .view.active {
        display: block;
    }

.habit-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.habit-card {
    background: #222;
    padding: 1rem;
    border-radius: 10px;
    flex: 1 1 120px;
    text-align: center;
    cursor: pointer;
}

#habitContainer {
    padding: 1rem;
}

.habit {
    background: white;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#habitTitle {
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
    
}

#entry-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1rem;
}

    #entryList li {
        text-align: center;
        border-bottom: 1px solid #333;
    }

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.add-entry-btn {
    background: #4caf50;
    color: white;
}

.floating-btn {
    position: fixed;
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    background: #4caf50;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    font-size: 1rem;
    cursor: pointer;
    z-index: 1000;
}

.entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 0.3rem auto;
    border-radius: 8px;
    position: relative;
    width: 25%;
}

    .entry button {
        background: #e74c3c;
        border: none;
        color: white;
        padding: 0.3rem 0.6rem;
        border-radius: 6px;
        cursor: pointer;
    }

        .entry button:hover {
            background: #c0392b;
        }
